<!DOCTYPE html>
<html>
<head>
  <title>Slacater</title>
  <%= stylesheet_link_tag    "slacater/application", media: "all" %>
  <%= javascript_include_tag "slacater/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
